
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if not meta_title %}SportFin - Impact Finance for Sport{% else %}{{ meta_title }}{% endif %}</title>

    <meta name="author" content="SportFin Limited" />
    <meta name="description"
          content="{% if not meta_description %}Use real-time social impact reporting to fundraise up to 3x better. SportFin helps community sport clubs harness sport data and automate social impact reporting towards raising funds more efficiently
          {% else %}{{ meta_description }}{% endif %}" />
    <meta name="keywords"
          content="community sport, grassroots sport, sport funding, fundraising, impact reporting, impact funding, sport clubs" />

    <!--Twitter card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://sportfin.io/">
    <meta name="twitter:creator" content="@SportFin">
    <meta name="twitter:title" content="Sportfin">
    <meta name="twitter:description"
          content="Use real-time social impact reporting to fundraise up to 3x better. SportFin helps community sport clubs harness sport data and automate social impact reporting towards raising funds more efficiently">
    <meta name="twitter:image:src"
          content="{% static 'img/og.png' %}">
    <!--Facebook Open Graph-->
    <meta property="og:title" content="Sportfin">
    <meta property="og:url" content="https://sportfin.io/">
    <meta property="og:type" content="website">
    <meta property="og:image"
          content="{% static 'img/og.png' %}">
    <meta property="og:image:alt" content="Sportfin Logo">
    <meta property="og:description"
          content="Use real-time social impact reporting to fundraise up to 3x better. SportFin helps community sport clubs harness sport data and automate social impact reporting towards raising funds more efficiently">
    <meta property="og:site_name" content="Sportfin">
    <meta property="og:locale" content="en-GB">

    <link href="{% static 'img/Logo SF-02.png' %}" rel="shortcut icon" type="image/png">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/main.css' %}" rel='stylesheet'/>
    <link href="{% static 'css/fontawesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vendor/owlCarousel/owl.carousel.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vendor/owlCarousel/owl.theme.default.min.css' %}" rel="stylesheet" type="text/css">
    {% block styles %}
        <style>
            @media (max-width: 1000px) {
                .intercom-lightweight-app-launcher {
                    bottom: 90px !important;
                }
            }
        </style>
    {% endblock %}
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'style_landing.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<header style="position: fixed; z-index: 999; background: #ffffff">
    <nav class="navbar justify-content-between bg-white px-lg-5 px-sm-4 px-3" style="max-width: 100vw">
        <img alt="SportFin Logo" id="home"
                src="{% static 'clubs/img/Logo SF_Artboard 10.png' %}"
                class="sportLogo clickable">
    </nav>
    <div class="newLine" style="height:3px;width: 100vw;background: linear-gradient(135deg, #3aaa3570 0%, #1d71b870 70%, #2a327d70 100%);"></div>
</header>
<main style="padding-top: 62px;">
    {% block content %}
    {% endblock %}
</main>


<script>
// We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/slvhi8wf'
(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/slvhi8wf';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(document.readyState==='complete'){l();}else if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
</script>
</body>
<!-- Bootstrap core JavaScript-->
<script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
<script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "js/sweetalert.min.js" %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>
<script src="https://js.stripe.com/v3/"></script>



{% block scripts %}

{% endblock %}

</html>


